# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Entornos virtuales
.venv/
venv/
env/

# MkDocs output
site-curso/site/

# Sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
